<div class="container">
    <p class="lead">Admin Dashboard</p>
    <div class="row">

        <div class="col-md-3">
            <div class="list-group">
                <a href="#/admin/users" class="list-group-item">Users</a>
                <a href="#/admin/products" class="list-group-item">Products</a>
            </div>
        </div>

        <div class="col-md-9">
            <p>Welcome to the admin page. Use the links on the left to administer users and products.</p>
        </div>
    </div>
</div>