<body>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Seattle Grill</p>
            <div class="list-group">
                <a href="#" class="list-group-item active">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="thumbnail">
                <img class="img-responsive" ng-src="{{model.checkSafeImageUrl(widget.url)}}" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">{{model.price}}</h4>
                    <h4>{{model.name}}</h4>
                    <p>{{model.description}}</p>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- /.container -->

</body>
