<body>

<h1>What Can JavaScript Do?</h1>

<p id="demo">JavaScript can change HTML content.</p>

<p id="number1">5</p>
<p id="number2">5</p>

<button type="button" onclick="document.getElementById('demo').innerHTML = ">Click Me!</button>

<button type="button" onclick="document.getElementById('demo').innerHTML = 'Hello JavaScript!'">Click Me!</button>


<form name="calculator" >
    <input type="button" value="1" onClick="document.calculator.ans.value+='1'">
    <input type="button" value="2" onClick="document.calculator.ans.value+='2'">
    <input type="button" value="3" onClick="document.calculator.ans.value+='3'">
    <input type="button" value="+" onClick="document.calculator.ans.value+='+'">

    <input type="button" value="4" onClick="document.calculator.ans.value+='4'">
    <input type="button" value="5" onClick="document.calculator.ans.value+='5'">
    <input type="button" value="6" onClick="document.calculator.ans.value+='6'">
    <input type="button" value="-" onClick="document.calculator.ans.value+='-'">

    <input type="button" value="7" onClick="document.calculator.ans.value+='7'">
    <input type="button" value="8" onClick="document.calculator.ans.value+='8'">
    <input type="button" value="9" onClick="document.calculator.ans.value+='9'">
    <input type="button" value="*" onClick="document.calculator.ans.value+='*'">
    <input type="button" value="/" onClick="document.calculator.ans.value+='/'">

    <input type="button" value="0" onClick="document.calculator.ans.value+='0'">
    <input type="reset" value="Reset">
    <input type="button" value="=" onClick="document.calculator.ans.value=eval(document.calculator.ans.value)">
    <br>Solution is <input type="textfield" name="ans" value="">
</form>
<br>
<br>
<br>
<form name="cart">
<table class="table table-hover table-condensed">
<tr>
    <td ng-model="price" data-th="Price" value="2">$1.99</td>
    <td data-th="Quantity">
        <input name="quantity" type="number" class="form-control text-center" value="1">
    </td>
    <td><input type="textfield" name="total" value=""></td>
    <td data-th="Subtotal" class="text-center">1.99</td>
    <td class="actions" data-th="">
        <button class="btn btn-info btn-sm" onClick="document.cart.total.value=eval(document.cart.price.value + document.cart.quantity.value)"><i class="fa fa-refresh"></i></button>
        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
    </td>
</tr>
</table>
</form>
</body>